body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* 背景颜色 */
}

header {
    background: #614caf;
    color: #ffffff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    background: #ffffff; /* 白色背景 */
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #614caf; 
}

button {
    background-color: #008CBA; /* 蓝色 */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f73; /* 深蓝色 */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #614caf; 
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}